
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>PayRoll</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="css/datepicker.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PayRoll</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="active" href="#">Dashboard</a></li>
            <li><a href="hire.html">Hire</a></li>
            <li><a href="#">Fire</a></li>
            <li><a href="#">Setting</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="dashboard.html">Overview</a></li>
            <li data-toggle="collapse" data-target="#department"><a>Department</a> </li>
            <ul id="department" class="collapse">
             <li><a href="qa_department.html">Quality Assurance</a></li>
             <br>
             <li><a href="">Rearch & Development</a></li>
             <br>
             <li><a href="">Accounts</a></li>
             <br>
             <li><a href="">Human Resources </a></li>
             <br>
             <li><a href="">Production</a></li>
             <br>
             <li><a href="">Purchasing</a></li>
             <br>
             <li><a href="">Sales and marketing</a></li>
             <br>
             <li><a href="">Presidents</a></li>
             <br>
            </ul>
            <li><a href="employee.html">Employees</a></li>
            <li><a href="project.html">Project</a></li>
            <!-- <li><a href="clients_admin">Clients</a></li> -->
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         
        <form class="form-horizontal">
          <fieldset>
            <legend>Fire Employee</legend>
            <div class="form-group">
              <label for="select" class="col-lg-2 control-label">Name</label>
              <div class="col-lg-10">
                <select class="form-control" id="select">
                  <option>Yufan Xue</option>
                  <option>Xi Yang</option>
                  <option>Rui Li</option>
                  <option>Zihao Lin</option>
                  <option>Jingbo Chu</option>
                  <option>Meixiang Jin </option>
                  <option>Menlan Tian</option>
                  <option>Yu Qiu</option>
                  <option>Robin Xue</option>
                  <option>Miles Yang</option>
                  <option>Ray Li</option>
                  <option>SB Lin</option>
                  <option>2B Chu</option>
                  <option>Beauty Jin</option>
                  <option>Smart Tian</option>
                  <option>Clever Qiu</option>

                </select>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Fire Date</label>
              <div class="col-lg-10">
                <input type="text" value="05/02/2014"  id="dp1">
                  <script type="text/javascript">
                      $('#dp1').datepicker();
                  </script>
              </div>
            </div>
            <br>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Cancel</button>
                <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">Submit</a>
              </div>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Warning</h4>
                  </div>
                  <div class="modal-body">
                    Are you sure to submit these information ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <a href="fire_paystub.html"type="button" class="btn btn-primary">Yes</a>
                  </div>
                </div>
              </div>
            </div>

          </fieldset>
        </form>


                 
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
